/********** Base styles **********/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#title{
	text-align: center;
	margin-top: 20px;
}

p{
	margin: 11px;
	margin-top: 35px;
}
.content{
	box-sizing: border-box;
	position: relative;	
	background-color: gray;
	border: 1px solid black;
	margin: 10px;
}
.chicken, .beef, .sushi{
	position: absolute;
	right: -1px;
	top: -1px;
	width: 150px;
	border: 1px solid black;
	text-align: center;
}
.chicken{	
	background-color: pink;
}
.beef{
	background-color: maroon;
	color: white;
}
.sushi{
	background-color: yellow;
}
.container{
	width: 100%;
	padding: 20px;
}


@media(max-width: 767px){
	.col-xs-12{
		float: left;
		width: 100%;
	}
	.container{
		padding: 20px 40px 20px 50px;
	}

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}	
	
}

/********** Large devices only **********/
@media(min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
	
}