/********** Base styles **********/
body{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

#header-nav{
	background-color: #CBCBCB;
}
.navbar-default .navbar-brand {
    color: #393939;
}
#heading{
	margin-bottom: 20px;
}
.contenido{
	background-color: #CBCBCB;	
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	height: 850px;
}
.contenido > p,
.contenido > span,
.contenido > a,
.back-text {
	margin: 15px;
}
.back-text{
	font-size: 90%;
	position: absolute;
	bottom: 0;
	width: 100%;
}


@media(max-width: 767px){
	.contenido{
		height: 1100px;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
		
}

/********** Large devices only **********/
@media(min-width: 992px){
	.contenido{
		height: 1100px;
	}
}
@media(min-width: 1200px){
	
}